@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: #0f172a;
  --text-primary: #fffff;
  --primary: #6fc8fd;
  --primary-foreground: #f8fafc;
  --secondary: #f0f9ff;
  --secondary-foreground: #0f172a;
  --border: #f0f9ff;
  --input: #6fc8fd;
  --ring: rgba(80, 190, 255, 0.5);
  --tertiary: #50beff;
  --tertiary-foreground: #f8fafc;
  --glass-bg: rgba(18, 54, 94, 0.3);
  --glass-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  --glass-blur: 12.5px;
  --glass-border: 1px solid rgba(255, 255, 255, 0.18);
  --error: #ff6165;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  * {
    @apply border-[#334155] outline-[#6fc8fd]/50 text-white;
    font-family: 'Nunito Sans', sans-serif;
  }
  body {
    background-image: url('/img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Oxanium', sans-serif;
    font-variation-settings: 'wght' 500;
    letter-spacing: 0.05em;
  }
}

@layer utilities {
  .bg-glassmorphism {
    background: var(--glass-bg);
    box-shadow: var(--glass-shadow);
    backdrop-filter: blur(var(--glass-blur));
    -webkit-backdrop-filter: blur(var(--glass-blur));
    /* Fallback for browsers that do not support CSS variables in backdrop-filter */
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: var(--glass-border);
  }
}
