@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --radius: 0.625rem;
  --background: #0f172a;
  --text-primary: #fffff;
  --foreground: #f8fafc;
  --card: #1e293b;
  --card-foreground: #f8fafc;
  --popover: #ffffff;
  --popover-foreground: #ffffff;
  --popover-accent: ##ffd32c;
  --primary: #6fc8fd;
  --primary-foreground: #f8fafc;
  --secondary: #f0f9ff;
  --secondary-foreground: #0f172a;
  --muted: rgba(240, 249, 255, 0.15);
  --muted-foreground: rgba(80, 190, 255, 0.7);
  --accent: rgba(240, 249, 255, 0.2);
  --accent-foreground: #50beff;
  --destructive: #ef4444;
  --border: #f0f9ff;
  --input: #6fc8fd;
  --ring: rgba(80, 190, 255, 0.5);
  --chart-1: #f97316;
  --chart-2: #06b6d4;
  --chart-3: #3b82f6;
  --chart-4: #84cc16;
  --chart-5: #eab308;
  --sidebar: #1e293b;
  --sidebar-foreground: #f8fafc;
  --sidebar-primary: #50beff;
  --sidebar-primary-foreground: #f8fafc;
  --sidebar-accent: #f0f9ff;
  --sidebar-accent-foreground: #0f172a;
  --sidebar-border: #334155;
  --sidebar-ring: rgba(80, 190, 255, 0.5);
  --tertiary: #50beff;
  --tertiary-foreground: #f8fafc;
  --glass-bg: rgba(18, 54, 94, 0.3);
  --glass-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  --glass-blur: 12.5px;
  --glass-border: 1px solid rgba(255, 255, 255, 0.18);
}

@layer base {
  * {
    @apply border-[#334155] outline-[#6fc8fd]/50 text-white;
    font-family: 'Nunito Sans', sans-serif;
  }
  body {
    background-image: url('/img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Oxanium', sans-serif;
    font-variation-settings: 'wght' 500;
    letter-spacing: 0.05em;
  }
}

@layer utilities {
  .bg-glassmorphism {
    background: var(--glass-bg);
    box-shadow: var(--glass-shadow);
    backdrop-filter: blur(var(--glass-blur));
    -webkit-backdrop-filter: blur(var(--glass-blur));
    border-radius: 10px;
    border: var(--glass-border);
  }
}
